<a href="https://colab.research.google.com/github/Colsai/Small-Assignments/blob/main/Japanese_whiskey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
#Import Packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics

In [3]:
file = '/content/drive/MyDrive/Japanese Whiskey/japanese_whisky_review.csv'
whiskey_df = pd.read_csv(file)

In [4]:
whiskey_df.head()

   Unnamed: 0  ...                                     Review_Content
0           1  ...  Dull taste. High price. No finish. Over-hyped ...
1           2  ...  Delicious! sugared red fruits and sweet with a...
2           3  ...  I am not a whisky expert but i really love the...
3           4  ...  This is a terrible Yamazaki.  Very young, unsh...
4           5  ...  First time and I like it - fresh but not thin ...

[5 rows x 5 columns]

In [6]:
whiskey_df = whiskey_df.drop(columns = "Unnamed: 0")

In [7]:
#Head of the data
whiskey_df.head()

                                         Bottle_name  ...                                     Review_Content
0  The Yamazaki Single Malt Whisky - Distiller’s ...  ...  Dull taste. High price. No finish. Over-hyped ...
1  The Yamazaki Single Malt Whisky - Distiller’s ...  ...  Delicious! sugared red fruits and sweet with a...
2  The Yamazaki Single Malt Whisky - Distiller’s ...  ...  I am not a whisky expert but i really love the...
3  The Yamazaki Single Malt Whisky - Distiller’s ...  ...  This is a terrible Yamazaki.  Very young, unsh...
4  The Yamazaki Single Malt Whisky - Distiller’s ...  ...  First time and I like it - fresh but not thin ...

[5 rows x 4 columns]

In [15]:
whiskey_df.tail()

                              Bottle_name  ...                                     Review_Content
1125  Nikka 1995 Single Cask Coffey Grain  ...  Really enjoyed the flavour of this whisky... G...
1126  Nikka 1995 Single Cask Coffey Grain  ...  Given the slightly racist tone to the guy at t...
1127  Nikka 1995 Single Cask Coffey Grain  ...  The particular distillation process makes this...
1128  Nikka 1995 Single Cask Coffey Grain  ...  That's probably why the previous poster though...
1129  Nikka 1995 Single Cask Coffey Grain  ...  Its like buying a bottle of Grey Goose thinkin...

[5 rows x 4 columns]

In [16]:
whiskey_df.sample(5)

                      Bottle_name  ...                                     Review_Content
1050  Nikka Taketsuru 17 Year Old  ...  I came back with three of these, 2 wrapped hop...
190          Yamazaki 18 Year Old  ...               I've got to say .. it was very nice.
82           Yamazaki 12 Year Old  ...  Had a bottle of this a few years ago at a much...
326     Yamazaki Sherry Cask 2016  ...  Not sure MoM will allow or be happy Let's  jus...
211          Yamazaki 18 Year Old  ...  solid body.. extremely long finish.. must add ...

[5 rows x 4 columns]

In [23]:
#Pivoting the dataframe
whiskey_df.melt(id_vars = ["Brand", "Bottle_name"],
                var_name = "Type",
                value_name = "Rating")

         Brand  ...                                             Rating
0     Yamazaki  ...                          Overpriced dissapointment
1     Yamazaki  ...                                          Delicious
2     Yamazaki  ...     Good for beginners. i know cos i am a beginner
3     Yamazaki  ...                                  Yamazaki Tutorial
4     Yamazaki  ...                                          Very Nice
...        ...  ...                                                ...
2255     Nikka  ...  Really enjoyed the flavour of this whisky... G...
2256     Nikka  ...  Given the slightly racist tone to the guy at t...
2257     Nikka  ...  The particular distillation process makes this...
2258     Nikka  ...  That's probably why the previous poster though...
2259     Nikka  ...  Its like buying a bottle of Grey Goose thinkin...

[2260 rows x 4 columns]

In [8]:
whiskey_df.shape

(1130, 4)

In [ ]:
#Not enough data to do a lot here.